@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}


html {
  font-size: 18px;
  scroll-behavior: smooth;
}
@media (max-width: 800px) {
  html { font-size: 16px; }
}
#title {
  scroll-margin-top: 37.5vh;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-mono: var(--font-geist-mono);
  --font-sans: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
